@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("http://fonts.cdnfonts.com/css/silom");

a {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}

p {
  margin: 0;
}

h2 {
  color: $secondary;
  font-size: 1.75rem;
  margin-bottom: 0.25rem;
  font-weight: 400;
}

body {
  overflow-y: auto;
}
