.rounded-4 {
  border-radius: 1rem;
}

@include media-breakpoint-up(lg) {
  .position-lg-absolute {
    position: absolute;
  }
  .translate-lg-middle {
    transform: translate(-50%, -50%);
  }
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(144,122,123,0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.font-noto {
  font-family: "Noto Sans TC", sans-serif;
}

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.border-sm {
  border: 0.5px solid #907a7b;
}
