.swiper {
  width: 100%;
  height: 100%;
}

.swiperCourse {
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
